html {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: #EF5138;
}

.header {
  background-color: #EF5138;
  display: flex;
  height: 45vh;
  justify-content: center;


  .header-image {
    height: 100%;
  }
}

.content {
  margin: auto;
  max-width: 900px;
  padding: 1rem;
}
